################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RateLimitWebApi/v15
/RateLimitWebApi/obj/*
/RateLimitWebApi/bin/*
/RateLimitWebApi/bin
/RateLimitWebApi/obj
